.destruction-list-detail {
}

.destruction-list-detail.destruction-list-detail__reviewers-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.reviewers-label {
  display: flex;
  gap: 5px;
  align-items: center;
}

.zaken-list.zaken-list__header {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.zaken-list.zaken-list__action-buttons {
  display: flex;
  gap: 10px;
}
