{% extends "maykin_2fa/login.html" %}
{% load i18n solo_tags %}

{% block footer %}
    <div id="footer"></div>
{% endblock %}


{% block extra_login_options %}
{% get_solo 'mozilla_django_oidc_db.OpenIDConnectConfig' as oidc_config %}

{% if oidc_config.enabled %}
<div class="submit-row">
    <a href="{% url 'oidc_authentication_init' %}">{% trans "Login with OIDC" %}</a>
</div>
{% endif %}
{% endblock %}


{% block extra_recovery_options %}
<li>
    <a href="URL_TO_TICKET_OR_SUPPORT_SYSTEM">
        {% trans 'Contact support' %}
    </a>
</li>
{% endblock extra_recovery_options %}

{% block autherrornote %}
    <div class="errornote">
        {% blocktranslate trimmed with username=request.user.get_username %}
            You are authenticated as {{ username }}, but:
            <ul>
                <li>you may not be authorized to access this page</li>
                <li>you may not have performed two factor authentication</li>
            </ul> 
            Please log in again or log in with a different account.
        {% endblocktranslate %}
    </div>
{% endblock %}
